/*
#sidebar {
  float:left;
  width:300px;
  padding: 20px;
}
#content {
  float:left;
  width: 600px;
  padding-left: 20px;
}
*/

body {
  color: #999999;
  background: #ffffff;
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.2em;
  -webkit-font-smoothing: antialiased;
}
h2 {
  color: #333333;
  font-size: 1.2em;
  font-weight: normal;
}
a {
  color: #333333;
}
