<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="/public_docs/js/default.js"></script>
<link rel="stylesheet" type="text/css" href="/public_docs/css/default.css" />

<div id="sidebar">

  <h3>Sections</h3>
  <ul id="sections"></ul>
  
  <h3>Pages</h3>
  <ul id="pages">
    {% for node in site.pages %}
      {% if node.category == page.category %}
        {% if node.url == page.url %}
          <li>{{node.title}}</li>
        {% else %}
          <li><a href="/public_docs/{{node.url}}">{{node.title}}</a></li>
        {% endif %}
      {% endif %}
    {% endfor %}
  </ul>
  
  <h3>Languages</h3>
  <div id="languages">
    English | German | Arabic | Turkish
  </div>
  
</div>
<div id="content">{{ content }}</div>
